.elements{
    max-width: 880px;
    margin: 0 auto;
    padding-top: 46px;  
}
.elements__card{
    margin: 0;
    list-style: none;
    padding: 0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px; 
    
}
.elements__card-li{ 
    max-width: 282px;
    list-style: none;
    position: relative;
}
.elements__card-image{
    display: block;
    margin: 0;
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
   
}
.elements__description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 20px 15px;
    border-radius: 0 0 10px 10px;
}
.elements__description-text{
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    max-width: 246px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
}
.elements__trash {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 100%;
}
.elements__button-icon{
    margin: 0;
   
}
.elements__button-like{
   background-image: url(../images/Group.png);
   border: 0;
   margin: 0;
    padding: 0;
   background-color: white;
   width: 21px;
   height: 19px;
   fill: none;
   opacity: 100%;
   cursor: pointer;
   transition: 0.2s;
}

.elements__button-like_active{
    background-image: url(../images/Union.png);
    border: 0;
    background-color: white;
    width: 21px;
    height: 19px;
    fill: none;
    opacity: 100%;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0;
}

.elements__button-like:hover{
    opacity: 60%;
    fill: black;

}



@media screen and (max-width: 970px){
    .elements {
        max-width: 600px;
        margin: 0 auto;
        
    }

    .elements__card{
        grid-template-columns: auto;
        place-content: center;
        margin: 0 auto;
    }
 
    }

@media screen and (max-width: 660px) {
        .elements{
            max-width: 320px;
        }

        .elements__card{
            grid-template-columns: auto;
            place-content: center;
            margin: 0 auto;
        }

    }
