.elements{
    max-width: 880px;
    margin: 0 auto;
    padding-top: 46px;  
}
.elements__container{
    max-width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    padding: 0;
}
.elements__card{ 
    max-width: 282px;
    margin: 0;
    list-style: none;
    max-height: 361px;
    border-radius: 10px;
    padding: 0; 
}
.elements__card-image{
    display: block;
    margin: 0;
    max-width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
   
}
.elements__description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 20px 15px;
    border-radius: 0 0 10px 10px;
}
.elements__description-text{
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    max-width: 246px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: left;
}
.elements__button-icon{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
    
    
}
.elements__button-like{
   opacity: 100%;

}

.elements__button-like:hover{
    opacity: 60%;
    fill: black;
}
.elements__button-like:active{
    fill: black;
    opacity: 100%;
    transition: 0.2s;
  
}

@media screen and (max-width: 970px){
    .elements {
        max-width: 600px;
        margin: 0 auto;
        
    }

    .elements__container{
        grid-template-columns: auto;
        place-content: center;
        margin: 0 auto;
    }
 
    }

@media screen and (max-width: 660px) {
        .elements{
            max-width: 320px;
        }

        .elements__container{
            grid-template-columns: auto;
            place-content: center;
            margin: 0 auto;
        }

    }
