.header{
    margin: 0 auto;
    padding-top: 45px;
    max-width: 880px;
    border-bottom: 1px solid #545454;
}

.header__image{
    margin: 0 auto;
    max-width: 173px;
    padding-bottom: 45px;
}



@media screen and (max-width: 970px){
    .header {
        max-width: 600px;
    }
}

@media screen and (max-width: 660px) {
    .header {
        max-width: 320px;
    }
    .header__image {
        padding-left: 20px;
    }
}