@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/elements.css);
@import url(../blocks/popup.css);
@import url(../blocks/footer.css);
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.page{
    margin: 0 auto;
    font-family: "Inter";
    background-color: #000;
    color: white;
}